
        body{
        background-image: linear-gradient(to bottom, #2a2a2a 30%, #1f1f1f);
        }
        th {
        color: wheat;
        }
        td {
        color: whitesmoke;
        }
        td, th {
        border: 1.4px solid #4f4f4f;
        border-radius: 4px;
        text-align: center;
        padding: 8px;
        }
        a{
             color: wheat;
        text-decoration: none;
        display: block;
        background-color: rgb(56, 56, 56);
        width: 200px;
        height: 50px;
        text-align: center;
        align-content: center;
        border-radius: 8px;
        position: relative;
        }