
        body{
        background-image: linear-gradient(to bottom, #2a2a2a 30%, #1f1f1f);
          font-family: Impact, Haettenschweiler,
        }
        th {
        color: wheat;
        }
        td {
        color: whitesmoke;
        }
        td, th {
        border: 2px solid #4f4f4f;
        border-radius: 8px;
        text-align: center;
        padding: 8px;
        font-weight: 1000
        }
     a {
    color: wheat;
    text-decoration: none;
    display: block;
    background-color: rgb(56, 56, 56);
    width: 200px;
    height: 70px;
    text-align: center;
    align-content: center;
    border-radius: 8px;
    margin: 20px auto;
    
}
a:hover{
 transform: translateY(-4px);
 background-color: #353232
}


table{
width: 45%;
margin-left: auto;
margin-right: auto;
box-shadow: 0 4px 10px rgba(0,0,0,0.3);

}
h1{
text-align: center;
}