img {
    margin-left: 750px
}
#para2 {
    font-family: fantasy
}
#mijnid {
    color: red
}
Aside {
    width: 600px ;
    border: 5px dashed black ;
    padding: 10px ;
 margin-left: 700px ; margin-top: 142px
}