 .second{
        margin-top: 10px;
    }
    .ding{
        border-radius: 12px;
        background-color: #2f2f2f;
        padding: 0.5px
    }
    html, body{
       min-height: 100%;
        margin: 0;
    }
    img{
        border-radius: 50%;
        margin-top: 10px;
        width: 200px;
    }
    body{
        background-image: linear-gradient(to bottom, #2a2a2a 30%, #1f1f1f);
        color: wheat
    }
    a{
        color: wheat;
        text-decoration: none;
        display: block;
        background-color: rgb(56, 56, 56);
        width: 200px;
        height: 50px;
        text-align: center;
        align-content: center;
        border-radius: 8px;
        position: relative;

    }
    a:hover{
    color: white
    }   